


{% block head %}

<title>Simple Calculator by Utkarsh</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Calculator by UKC</h1>

    <div class="form">
        <form action="/simpleCalculator" method="POST">
            <label for="operation">Choose a mathematical operation: </label>

<select id="operation" name="operation">
  <option value="Addition">Addition</option>
  <option value="Subtraction">Subtraction</option>
  <option value="Multiplication">Multiplication</option>
  <option value="Division">Division</option>
</select>
            <input type="text" name="num1" id="num1">
            <input type="text" name="num2" id="num2">
            <input type="submit" value="Calculate">
        </form>
    </div>
</div>
{% endblock %}